.Contact-section {
    display:flex;
    background-color: var(--light-gray-blue);
    height: 350px;
}

.contact-section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.contact-image {
    position: relative;
    text-align: center;
    margin-left: -10%; 
}

.form-title {
    margin-top: -5%;
    font-size: 110%;
}

.contact-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    
}

.contact-content h3 {
    
}

form {
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height:275px;
    width: 500px;
    max-width: 400px;
    position: relative;
    right: 55%;
    margin-right: -30%;
    text-align: center;

}

.name {
    display: flex;
    justify-content: space-between;
}

input {
    display: flex;
    justify-content: space-between;
    flex-basis: 48%;
    width: 100%;
    padding: 10px; 
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    position: relative;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

select {
    width: 100%;
    padding: 10px;
}




